# Gradle
gradle
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Build output
bin/

# Cursor
.cursor/

# IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
gradlew
gradlew.bat
.vscode

# Logs
*.log

# Local / Environment
.env
.env.local
.env.*.local

# Mac OS
.DS_Store
